@import '../../../../node_modules/antd/dist/antd.css';
.container {
  flex-grow: 0;
  align-content: center;
  justify-content: center;
  padding: 30px;
  position: absolute;
  width: 600px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -200px;
  border-radius: 10px;
  border: 1px solid #1890ff;
}

#components-layout-demo-top-side .logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 28px 16px 0;
  float: left;
}
